#note_for_users {
    position: absolute;
    left: 25%;
    width: 50%;
    font-size: 15pt;
    line-height: 20pt;
}
#replay {
    width: 100%;
    height: 121px;
}
#choose_replay {
    position: absolute;
    top: 8px;
    left: 25%;
    height: 100px;
    width: 50%;
    border: 0px;
    z-index: 1;
    
}
#choose_replay_design {
    position: absolute;
    top: 8px;
    left: 25%;
    height: 100px;
    width: 50%;
    z-index: 2;
    background-color: #DEEBEC;
    pointer-events: none;
    text-align: center;
    line-height: 30px
}
#submit_replay {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 111px;
    width: 50%;
    border: 0px;
    padding: 0px;
    pointer-events: none;
}