#submit_replay {
    pointer-events: none;
}
#stats {
    margin-top: 20px;
    display: none;
}

#chatlog {
    display: none;
}

#timeline {
    margin-top: 20px;
    display: none;
    position: relative;
}

#talents {
    display: none;
}

#charts {
    display: none;
    position: relative;
    margin-top: 20px;
}









#stats_table {
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    overflow: hidden;
    background-color: white;
 }
 
 #stats_table th {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    width: 150px;
    text-align: center;
 }
 
 #stats_table td {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    width: 150px;
    text-align: center;
 }

 
 #stats_table tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
 }
 .stats_player_0, .stats_player_2, .stats_player_4 {
     background-color: rgba(0, 0, 255, 0.3);
 }
 .stats_player_1, .stats_player_3 {
    background-color: rgba(0, 0, 255, 0.1);
}

.stats_player_5, .stats_player_7, .stats_player_9 {
    background-color: rgba(255, 0, 0, 0.3);
}
.stats_player_6, .stats_player_8 {
    background-color: rgba(255, 0, 0, 0.1);
}

#talents_player_blue {
    height: 56px;
    padding: 1px;
    border-width: 1px;
    margin: 1px;
    width: 757px;
    border-style: solid;
    background-color: rgba(30, 30, 256, 0.05);
}

#talents_player_red {
    height: 56px;
    padding: 1px;
    border-width: 1px;
    margin: 1px;
    width: 757px;
    border-style: solid;
    background-color: rgba(256, 30, 30, 0.05);
}
#talents_player_portrait {
    vertical-align: 8px;
    width: 178px;
    height: 56px;
    overflow: visible;
}
#talents_player_name {
    display: inline-block;
    text-align: left;
    vertical-align: 15px;
    line-height: 30px;
    height: 56px;
    width: 180px;
}
#talents_player_icon_box {
    display: inline-block;
    vertical-align: 8px;
    width: 392px;
    height: 56px;
}
#talents_player_icon_box_individual {
    display: inline;
    width: 56px;
    height: 56px;
    padding-left: 1px;
}

#choose_replay {
    width: 400px;
}


#charts_categories {
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 200px;
    height: 420px;
    
}
#charts_categories div {
    height: 20px;   

}
#charts_categories div input {
    display: inline-block;    
}
#charts_players {
    border-style: solid;
    border-right-width: 1px;
    border-right-style: dotted;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 0;
    left: 203px;
    width: 32px;    
    height: 420px;
}

#charts_players div {
    height: 32px;
}
#charts_players_player_0, #charts_players_player_1, #charts_players_player_2, #charts_players_player_3, #charts_players_player_6, #charts_players_player_7, #charts_players_player_8, #charts_players_player_9 {
    margin-top: 4px;
    margin-bottom: 8px;
}
#charts_players_player_4 {
    margin-top: 4px;
    margin-bottom: 23px;
}
#charts_players_player_5 {
    margin-top: 28px;
    margin-bottom: 8px;
}

.charts_chart_exact{
    display: none;
} 






#charts_players_player_name {
    font-size: 10pt;
    vertical-align: 12px;
}

#charts_chart {
    border-style: solid;
    border-left-style: none;
    position: absolute;
    top: 0;
    left: 243px;
    width: 700px;
    height: 420px;
}

#timeline_axis {
    background-color: black;
    position: absolute;
    left: 500px;
    top: 0px;
    width: 5px;
    margin: 0px;
    z-index: 3;
    border-bottom: 100px;
    border-bottom-style: solid;
    border-bottom-color: white;
    
}
#timeline_gate_open, #timeline_core_death {
    position: absolute;
    width: 1005px;
    height: 3px;
    left: 0px;
    background-color: goldenrod;
    z-index: 2;
}
.blue_timeline_event {
    z-index: 4;
    width: 32px;
    height: 32px;
    overflow: hidden;
    transition: width 0.1s, height 0.1s;
    font-size: 15pt;
}
.red_timeline_event {
    z-index: 4;
    width: 32px;
    height: 32px;
    overflow: hidden;
    transition: width 0.1s, height 0.1s;
    font-size: 15pt;
}

.blue_timeline_event:hover {
    z-index: 5;
    background-color: grey;
    color: white;
    width: auto;
    height: auto;
    padding: 2px;
    
}
.red_timeline_event:hover {
    z-index: 5;
    background-color: grey;
    color: white;
    width: auto;
    height: auto;
    padding: 2px;
}


.blue_timeline_level {
    position: absolute;
    left: 0px;
    width: 497px; 
    margin: 0px;
    color: black;
    padding-right: 3px;
    border-color: blue;
    border-top-style: solid;
    text-align: right;
    
}
.red_timeline_level {
    position: absolute;
    left: 505px;
    width: 497px; 
    margin: 0px;
    color: black;
    padding-left: 3px;
    border-color: red;
    border-top-style: solid;
    text-align: left;
}

#blue_level_up_1, #blue_level_up_2, #blue_level_up_3 {
    background-color: rgba(0, 0, 100, 0)
}
#blue_level_up_4, #blue_level_up_5, #blue_level_up_6 {
    background-color: rgba(0, 0, 255, 0.05)
}
#blue_level_up_7, #blue_level_up_8, #blue_level_up_9 {
    background-color: rgba(0, 0, 205, 0.1)
}
#blue_level_up_10, #blue_level_up_11, #blue_level_up_12 {
    background-color: rgba(10, 10, 255, 0.2)
}
#blue_level_up_13, #blue_level_up_14, #blue_level_up_15 {
    background-color: rgba(120, 120, 255, 0.4)
}
#blue_level_up_16, #blue_level_up_17, #blue_level_up_18, #blue_level_up_19 {
    background-color: rgba(70, 70, 255, 0.4)
}
#blue_level_up_20, #blue_level_up_21, #blue_level_up_22, #blue_level_up_23, #blue_level_up_24, #blue_level_up_25, #blue_level_up_26, #blue_level_up_27, #blue_level_up_28, #blue_level_up_29, #blue_level_up_30 {
    background-color: rgba(0, 0, 255, 0.5)
}

#red_level_up_1, #red_level_up_2, #red_level_up_3 {
    background-color: rgba(100, 0, 0, 0)
}
#red_level_up_4, #red_level_up_5, #red_level_up_6 {
    background-color: rgba(255, 0, 0, 0.05)
}
#red_level_up_7, #red_level_up_8, #red_level_up_9 {
    background-color: rgba(205, 0, 0, 0.1)
}
#red_level_up_10, #red_level_up_11, #red_level_up_12 {
    background-color: rgba(255, 10, 10, 0.2)
}
#red_level_up_13, #red_level_up_14, #red_level_up_15 {
    background-color: rgba(255, 120, 120, 0.4)
}
#red_level_up_16, #red_level_up_17, #red_level_up_18, #red_level_up_19 {
    background-color: rgba(255, 70, 70, 0.4)
}
#red_level_up_20, #red_level_up_21, #red_level_up_22, #red_level_up_23, #red_level_up_24, #red_level_up_25, #red_level_up_26, #red_level_up_27, #red_level_up_28, #red_level_up_29, #red_level_up_30 {
    background-color: rgba(255, 0, 0, 0.5)
}