#statistics {
    display: none;
}

#stats {
    display: none;
}

#chatlog {
    display: none;
}

#talents {
    display: none;
}

#charts {
    display: none;
    position: relative;
}

#talents_player_blue {
    height: 56px;
    padding: 1px;
    border: 1px;
    margin: 1px;
    width: 757px;
    border-style: solid;
    background-color: rgba(30, 30, 256, 0.05);
}

#talents_player_red {
    height: 56px;
    padding: 1px;
    border: 1px;
    margin: 1px;
    width: 757px;
    border-style: solid;
    background-color: rgba(256, 30, 30, 0.05);
}
#talents_player_portrait {
    vertical-align: 8px;
    width: 178px;
    height: 56px;
    overflow: visible;
}
#talents_player_name {
    display: inline-block;
    text-align: left;
    vertical-align: 15px;
    line-height: 30px;
    height: 56px;
    width: 180px;
}
#talents_player_icon_box {
    display: inline-block;
    vertical-align: 8px;
    width: 392px;
    height: 56px;
}
#talents_player_icon_box_individual {
    display: inline;
    width: 56px;
    height: 56px;
    padding-left: 1px;
}

#choose_replay {
    width: 400px;
}



#charts_categories {
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    width: 200px;
    height: 420px;
    
}
#charts_categories div {
    height: 20px;   

}
#charts_categories div input {
    display: inline-block;    
}
#charts_players {
    border-style: solid;
    border-right-width: 1px;
    border-right-style: dotted;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    top: 0;
    left: 203px;
    width: 32px;    
    height: 420px;
}

#charts_players div {
    height: 32px;
}
#charts_players_player_0, #charts_players_player_1, #charts_players_player_2, #charts_players_player_3, #charts_players_player_6, #charts_players_player_7, #charts_players_player_8, #charts_players_player_9 {
    margin-top: 4px;
    margin-bottom: -11px;
}
#charts_players_player_4 {
    margin-top: 4px;
    margin-bottom: -1px;
}
#charts_players_player_5 {
    margin-top: 14px;
    margin-bottom: -11px;
}

.charts_chart_exact{
    display: none;
} 






#charts_players_player_name {
    font-size: 10pt;
    vertical-align: 12px;
}

#charts_chart {
    border-style: solid;
    border-left-style: none;
    
    position: absolute;
    top: 0;
    left: 243px;
    width: 700px;
    height: 420px;
}