<!doctype html>

<title> Industrial District </title>
<link rel="stylesheet" type="text/css" href="{{ css_URL }}">

<body>
    <form method="POST" enctype="multipart/form-data" id="replay">
        <input id="choose_replay" type="file" name="file" value="Choose Replay" accept=".StormReplay"/>
        <text id="choose_replay_design">
            Drag here or Click to choose replay<br>
            
        </text>
        <input id="submit_replay" type = "submit" name = "submit" value = "Submit replay" formaction="/"/>
    </form>
    <p id="note_for_users">
        <br>
        This website is used for getting game stats, talents and chatlogs.
        
        Although the stats do not correctly represent who actually played well,
        
        and the ones who have better stats could have played worse during action.
        
        However having more tools to see what the game is not showing you is better.
        
        Referencing these stats and the talents will give better insight.
        
        I hope these stats could give you more knowledge on how to play well.
        <br>
    </p>
    
    <a id="try_demo" href="/demo">Try out a demo replay or read instructions    </a>
    

    <script type="text/javascript">
        const replay_update = document.getElementById("choose_replay")
        replay_update.addEventListener("change", (event) => {
            const replay_name = replay_update.value;
            if (replay_name != "") {
                document.getElementById("choose_replay_design").textContent = replay_name.slice(12)    
                document.getElementById("submit_replay").style.pointerEvents = "auto";
            }
            else {
                document.getElementById("choose_replay_design").textContent = "Drag here or Click to choose replay"
                document.getElementById("submit_replay").style.pointerEvents = "none";
            }
            
        })
    </script>

</body>

