<!doctype html>

<title> Industrial District </title>
<link rel="stylesheet" type="text/css" href="{{ css_URL }}">
<script type="text/javascript" src="{{ js_URL }}"></script>

<body>
    <form method = "POST" enctype = "multipart/form-data">
        <input id="choose_replay" type = "file" name = "file" value = "choose Replay" accept=".StormReplay"/>
        <input id="submit_replay" type = "submit" name = "submit" value = "submit replay" formaction="/"/>
    </form>
</body>

<br>
<p>{{ game_details["game_mode"] }} {{ game_details["game_time"] }} {{ game_details["map_name"] }} {{ game_details["game_length"] }} {{ game_details["game_version"] }} {{ game_details["winner"] }} team won</p>
<button onclick="toggle('stats')">stats</button>
<button onclick="toggle('talents')">talents</button>
<button onclick="toggle('chatlog')">chatlog</button>
<button onclick="toggle('timeline')">timeline</button>
<button onclick="toggle('charts')">charts</button>

<pre id="stats">
    <table>
    <tr id="players">
        <th id="player_row">Players</th> {% for i in range(0, 10) %} <th id="player_row">{{ players[i]["player_name"] }}</th> {% endfor %}
    </tr>
    <tr id="heroes">
        <th id="hero_row">Heroes</th> {% for i in range(0, 10) %} <th>{{ players[i]["hero_name"] }}</th> {% endfor %}
    </tr>
    {% for i in stats %}
    <tr>
        <th id="rows">{{ i }}</th> {% for j in stats[i] %} <th>{{ j }}</th> {% endfor %}
    </tr>
    {% endfor %}
    </table>
</pre>

<pre id="talents">{% for i in range(0, 10) %}<div id="talents_player_{{ players[i]['team'] }}"><img id="talents_player_portrait" src="https://min.hyeok.org/SILVER/files/images/heroportraits/{{ players[i]['party_panel_portrait'] }}"><div id=talents_player_name>{{ players[i]["player_name"] }}
{{ players[i]["hero_name"] }}</div><a id="talents_player_icon_box" href="https://min.hyeok.org/SILVER/#/{{ players[i]['hero_link'] }}/{{ players[i]['talent'] }}">{% for j in range(0, 7) %}<img id="talents_player_icon_box_individual" src="https://min.hyeok.org/SILVER/files/images/abilitytalents/{{ players[i]['talent_icon'][j] }}">{% endfor %}</a></div>{% endfor %}</pre>

<pre id="chatlog">
    {% if chatlog %} {{chatlog}} {% endif %}
</pre>

<pre id="timeline">
    <pre id="timeline_axis"></pre>
    
    {% for i in team_blue_timeline %}
    <pre id="blue_{{ i[1] }}" class="blue_timeline" style="position: absolute; left:200px; top:{{ 0 + i[0]/16 }}px;">{{ i[0] }} {{ i[1] }} {{ i[2] }}</pre>
    {% endfor %}

    {% for i in team_red_timeline %}
    <pre id="red_{{ i[1] }}" class="red_timeline" style="position: absolute; left:510px; top:{{ 0 + i[0]/16 }}px;">{{ i[0] }} {{ i[1] }} {{ i[2] }}</pre>
    {% endfor %}
    
    
</pre>


<pre id="charts">
    <div id="charts_categories">{% for i in range(0, 23) %}<div id="checkbox_{{ chart_title[i] }}"><input type="checkbox" id="checkbox_{{ chart_title[i] }}_checkbox" class="chart_checkbox"> <label for="checkbox_{{ chart_title[i] }}_label">{{ chart_title[i] }}</label></div>{% endfor %} </div> 
    <div id="charts_players">{% for i in range(0, 10) %}<div id="charts_players_player_{{ i }}"><img id="charts_players_portrait" src="https://min.hyeok.org/SILVER/files/images/heroportraits/{{ players[i]['minimap_portrait'] }}"></div> {% endfor %}
    </div>
    <canvas id="charts_chart" width="700px" height="420px">        
    </canvas>
    {% for i in range(0, 23) %}

        
    {% for j in range(0, 5) %}
    <div id="charts_chart_{{ i }}_{{ j }}" class="charts_chart_{{ i }}" style="display: none; position: absolute;"></div>
    <div id="charts_chart_{{ i }}_{{ j + 5 }}" class="charts_chart_{{ i }}" style="display: none; position: absolute;"></div> 
    {% endfor %}

    <div id="charts_chart_exact_{{ i }}" class="charts_chart_exact" style="font-size: 20pt;" >
        {% for j in range(0, 5) %}
        <div id="charts_chart_exact_{{ i }}_{{ j }}" style="position: absolute; z-index: 1; width: 80px; text-align: right;">{{ statistics[chart_link[i]][j] }}</div>
        <div id="charts_chart_exact_{{ i }}_{{ j + 5 }}" style="position: absolute; z-index: 1; width: 80px; text-align: right;">{{ statistics[chart_link[i]][j + 5] }}</div>
        {% endfor %}
    </div>

    {% endfor %}


</pre>
<script type="text/javascript">
    const drawing = document.getElementById("charts_chart").getContext("2d");
    var checkbox_group = document.getElementsByClassName('chart_checkbox')
    var update = []
    var checked_count = 0
    chart_checkbox_limit()

    {% for i in range(0, 23) %}
    update[{{ i }}] = document.getElementById("checkbox_{{ chart_title[i] }}_checkbox")
    update[{{ i }}].addEventListener("change", (event) => {
        graph_drawing()
    })
    {% endfor %}


    function graph_drawing() {
        var graph_count = 0;
        
        {% for i in range(0, 23) %}
        
        if (checkbox_group[{{ i }}].checked == true) {

            {% for j in range(0, 5) %}

            document.getElementById("charts_chart_{{ i }}_{{ j }}").style.display = "block";
            document.getElementById("charts_chart_{{ i }}_{{ j }}").style.width = (700 * {{ statistics[chart_link[i]][j] / statistics_maximum[chart_link[i]] }}).toString() + "px";
            document.getElementById("charts_chart_{{ i }}_{{ j }}").style.left = "244px";
            
            
            document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.display = "block";
            document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.width = (700 * {{ statistics[chart_link[i]][j + 5] / statistics_maximum[chart_link[i]] }}).toString() + "px";
            document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.left = "244px";

            document.getElementById("charts_chart_exact_{{ i }}_{{ j }}").style.top = (7 + (40 * {{ j }})).toString() + "px";
            document.getElementById("charts_chart_exact_{{ i }}_{{ j }}").style.left = "860px";
            document.getElementById("charts_chart_exact_{{ i }}_{{ j + 5 }}").style.top = (27 + (40 * {{ j + 5 }})).toString() + "px";      
            document.getElementById("charts_chart_exact_{{ i }}_{{ j + 5 }}").style.left = "860px"; 

            if (checked_count == 1) {
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.height = "32px";
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.top = (7 + (40 * {{ j }})).toString() + "px";
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.backgroundColor = "rgba(80, 80, 256, 0.9)"

                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.height = "32px";
                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.top = (27 + (40 * {{ j + 5 }})).toString() + "px";
                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.backgroundColor = "rgba(256, 80, 80, 0.9)"

            } else if (checked_count == 2) {
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.height = "15px";
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.top = (7 + (graph_count * 17) + (40 * {{ j }})).toString() + "px";                
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.backgroundColor = "rgba(80, 80, 256, " + (0.9 - (graph_count * 0.1)).toString() + ")"

                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.height = "15px";
                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.top = (27 + (graph_count * 17) + (40 * {{ j + 5 }})).toString() + "px";
                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.backgroundColor = "rgba(256, 80, 80, " + (0.9 - (graph_count * 0.1)).toString() + ")"

            } else if (checked_count == 3) {
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.height = "10px";
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.top = (7 + (graph_count * 11) + (40 * {{ j }})).toString() + "px";               
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.backgroundColor = "rgba(80, 80, 256, " + (0.9 - (graph_count * 0.1)).toString() + ")"

                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.height = "10px";
                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.top = (27 + (graph_count * 11) + (40 * {{ j + 5 }})).toString() + "px";
                document.getElementById("charts_chart_{{ i }}_{{ j + 5 }}").style.backgroundColor = "rgba(256, 80, 80, " + (0.9 - (graph_count * 0.1)).toString() + ")"
                
            }
            {% endfor %}  
            graph_count += 1
        } else {        
            {% for j in range(0, 10) %}
                document.getElementById("charts_chart_{{ i }}_{{ j }}").style.display = "none" 
            {% endfor %}  
        }

        {% endfor %}
        

    }
    function chart_checkbox_limit() {
        
        for (var i = 0; i < checkbox_group.length; i++) {
            checkbox_group[i].onclick = function() {
                    checked_count = 0;
                    for (var i = 0; i < checkbox_group.length; i++) {
                    checked_count += (checkbox_group[i].checked) ? 1 : 0;
                }
                if (checked_count > 3) {
                    this.checked = false;
                    checked_count -= 1;
                }
            }
        }
    }
</script>

<style>

{% for i in range(0, 23) %}
.charts_chart_{{ i }}:hover ~ #charts_chart_exact_{{ i }} {
    display: block;
}
{% endfor %}

</style>

<meta id="replay_data" data="">
