<!doctype html>

<title>replay</title>
<link rel='stylesheet' type='text/css' href='{{ cssURL }}'>

<body>
    <form method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" value = "Choose Replay"/>
        <input type = "submit" name = "submit" value = "submit replay" formaction="replay"/>
    </form>
</body>

<br>
<button onclick='toggle("chatlog")'>chatlog</button>
<button onclick='toggle("talents")'>talents</button>
<button onclick='toggle("stats")'>stats</button>
<button onclick='toggle("statistics")'>statistics</button>

<pre id='chatlog'>
    {% if chatlog %}
    {{chatlog}}
    {% endif %}
</pre>

<pre id='talents'>
    {% for i in talents %}
    {{ i }}<a href="{{ talents[i] }}">{{ talents[i] }}</a>
    {% endfor %}
</pre>

<pre id='stats'>
    <table>
    <tr>
        <th>Players</th> {% for i in nameList %} <th>{{ i }}</th> {% endfor %}
    </tr>
    <tr>
        <th>Heroes</th> {% for i in heroList %} <th>{{ i }}</th> {% endfor %}
    </tr>
    {% for i in stats %}
    <tr>
        <th>{{ i }}</th> {% for j in stats[i] %} <th>{{ j }}</th> {% endfor %}
    </tr>
    {% endfor %}
    </table>
</pre>

<pre id='statistics'>
    <table>
        <tr>
            <th>Players</th> {% for i in nameList %} <th>{{ i }}</th> {% endfor %}
        </tr>
        <tr>
            <th>Heroes</th> {% for i in heroList %} <th>{{ i }}</th> {% endfor %}
        </tr>
        {% for i in statistics %}
        <tr>
            <th>{{ i }}</th> {% for j in statistics[i] %} <th>{{ j }}</th> {% endfor %}
        </tr>
        {% endfor %}
        </table>
</pre>

<script src='{{ jsURL }}'></script>


